<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Customer Service - Rooms</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/rooms-page.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <section class="rooms">
        <h1>Our Rooms</h1>
        <div class="room-container">
          {% for room in rooms %}
          <div class="room-card">
            <a href="room?id={{ room.id }}">
              <img src="{{ room.image }}" alt="{{ room.name }}" />
              <h2>{{ room.name }}</h2>
            </a>
            <p>{{ room.description }}</p>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
